body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.margin {
  margin: 100px;
}
.table {
  text-align: left;
  width: 100%;
  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
  a {
    color: white;
    padding-right: 50px;
  }
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-color {
  color: red;
}
